@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Register to confirm that you are unique user</h1>
    <h5 class="display-6">Press "Number" to show the current number of unique visitors</h5>

</div>
