@page
@model NumberModel
@using System.Data;
@using System.Data.SqlClient;

@{
    int y = 0;
    ViewData["Title"] = "Number Page";

    using (SqlConnection conn = new SqlConnection("Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=aspnet-WebApplication1-53bc9b9d-9d6a-45d4-8429-2a2761773502;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"))
            {
                using (SqlCommand cmdSQL = new SqlCommand("SELECT COUNT(*) FROM AspNetUsers", conn))
                {
                    conn.Open();
                    int? RowCount = (int?)cmdSQL.ExecuteScalar();
                    y = (int)RowCount;
                }
            }
}

<div class="text-center">
    <h1 class="display-4">The number of total users is: @y</h1>
</div>
